.container__big__card {
  display: flex;
  border: 2px solid rgb(228, 214, 214);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;

}

.big__card__photo {
  width: 50%;
}

.big__card__photo > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.big__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 60%;
}

.big__card__title > h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.big__card__text > p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-top: 0;
}
