<div class="container__big__card ">
  <div class="big__card__photo ">
    <img src="https://rollingstone.com.br/media/uploads/2024/10/john-wick-de-volta-ao-jogo-filme-cachorro-keanu-reeves-foto-divulgacao.jpg"
     alt=""
     srcset="">
  </div>

  <div class = "big__card__content">
  <div class="big__card__title">
  <h1>John Wick Adota Cachorro de Rua!</h1>

  </div>
  <div class="big__card__text">
    <p>John Wick, o temido assassino, surpreende ao adotar um cachorro de rua.
       Após tantas perdas e batalhas, ele encontra conforto e esperança na companhia de um cão abandonado.
       A adoção simboliza um novo começo para Wick, mostrando que, mesmo em meio à violência, há espaço para o carinho e a lealdade.
       Juntos, eles enfrentam o futuro, com o cão se tornando um novo e fiel companheiro.

    </p>
  </div>
</div>
</div>
