<div class = "container__small_card">
  <div>
    <h1>Ultimas Noticias!</h1>
  </div>

<div class = "small__card__content">

  <div class="small_card_1">

    <img src="https://i.gifer.com/g0eb.gif"
    alt=""
    srcset="">
    <h1>Super Mario vá a festa! </h1>

  </div>
  <div class="small_card_2">
    <img src="https://i.ytimg.com/vi/T59NN6Gu3Us/maxresdefault.jpg"
    alt=""
    srcset="">
    <h1>Spider-Man Parou o Trem</h1>

  </div>
  <div class="small_card_3">
    <img src="https://preview.redd.it/path-traced-images-from-the-arasaka-dashi-parade-and-play-v0-wt5uqltno3xa1.png?width=3840&format=png&auto=webp&s=ae605cafa228ddc96046c59d67c23f5dc151c45f"
    alt=""
    srcset="">
    <h1>O Festival Arasaka</h1>

  </div>
  <div class="small_card_4">
    <img src="https://i.ytimg.com/vi/umbTjPyBnGw/maxresdefault.jpg"
    alt=""
    srcset="">
    <h1>Até Tu Brutus!</h1>

  </div>
</div>
</div>
