<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://rollingstone.com.br/media/uploads/2024/10/john-wick-de-volta-ao-jogo-filme-cachorro-keanu-reeves-foto-divulgacao.jpg"
      cardTitle="John Wick Adota Cachorro de Rua!"
      cardDescription="John Wick, o temido assassino, surpreende ao adotar um cachorro de rua. Após tantas perdas e batalhas, ele encontra conforto e esperança na companhia de um cão abandonado."></app-big-card>
  </div>
  <div class="articles__title">
    <h1><b>Últimas notícias!</b></h1>
  </div>
  <div class="articles__others">

    <app-small-card Id="2"
     photoCover="https://img2.rtve.es/i/?w=1600&i=1632450182030.jpg"
     cardTitle="Super Mario vá a festa!">
    </app-small-card>

    <app-small-card Id="3"
      photoCover="https://nobleorderbrewing.com/img/lists/76/spider-man-10-most-romantic-gwen-stacy-peter-parker-moments-2.jpg"
      cardTitle="Homem Aranha Beija Gwen">
    </app-small-card>

    <app-small-card Id="4"
    photoCover="https://i.redd.it/9tti9t88vff61.jpg"
    cardTitle="Festival em Arasaka!">

    </app-small-card>
    <app-small-card Id="5"
      photoCover="https://steamuserimages-a.akamaihd.net/ugc/921423402044931368/EE6FA4DEA0C812C9FBD519BDD3EF63F1DF6769CE/?imw=1024&imh=576&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true"
      cardTitle="'Até tu brutus' Foi o que ele disse">

    </app-small-card>

  </div>
</div>
