<header>
  <app-menu-news></app-menu-news>
</header>

<app-menu-title></app-menu-title>
<div class = "articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://rollingstone.com.br/media/uploads/2024/10/john-wick-de-volta-ao-jogo-filme-cachorro-keanu-reeves-foto-divulgacao.jpg"
    cardTitle="John Wick Adota Cachorro de Rua!"
    cardDescription="John Wick, o temido assassino, surpreende ao adotar um cachorro de rua. Após tantas perdas e batalhas, ele encontra conforto e esperança na companhia de um cão abandonado."></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card photoCover="https://i.gifer.com/g0eb.gif"
    cardTitle="Super Mario vá a festa!">
  </app-small-card>

  </div>
  </div>

